/* ----------font-link------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;600;700;1,14..32,700&display=swap');


/* ========common-link-start======== */
:root{
        --red:#FF6868;
        --white:#ffffff;
        --green:#39DB4A ; 
        --bg_color:#39DB4A;
        --food-bg:#C1F1C6;
}
/* ===========common-link-end========= */
/* ===========header-start============= */

html, body {
        width: 100%;
        overflow-x: hidden;
}

body{
        font-family:"inter",sans-serif;
        font-size: 16px;
        font-weight: 600;
}
header{

}
.nav_bb{
        padding: 40px 0;
}
.f_logo{
 

  

}
.o_logo{

}
.menu{


}
.f_bithi{
        background-color:var(--bg_color);
        padding: 6px 6px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.navbar-brand.logo {
        display: flex;
        align-items: center;
        gap: 6px; 
}
.dropdown-menu{
        border: none;
}
.custom_btn{
        color: var(--white);
        width: 140px;
        height: 45px;
        background-color: var(--bg_color) ;  
        display: flex; 
        align-items: center;
        justify-content: center;
        border: none;
        gap:10px;
        border-radius: 30px;
        
}

.custom_btn:hover{
         background-color: var(--bg_color) ;  
         color: var(--white) !important;
}

.custom_btn:active{
        background-color: var(--bg_color)!important ;
        color: var(--white);
}

.btn-no-border {
        border: none !important;
  
}
/* ============header-end========== */

  /*=======hero-section-start====== */
.header-hero{
        padding-bottom:100px ;
  }
.hero{

}
.hero-h1{
        margin-top: 100px;
        font-size: 50px;
        font-weight: 800;
    
}
.hero-p{
        margin: 59px 0 71px;
        font-size:26px;
        font-weight:500;

}
.hero-button{
        display:inline-block;
}
  .common-btn{
        display:inline-block;
        width: 170px;
        height: 60px;
        color: var(--white);

       
  }
  .food{
        color: var(--green);
  }
  .hero-watch-video{
        margin-left: 40px;
        text-decoration: none;
        font-size: 20px;
        color: #4D4D4D;
        font-weight: 600;
  }
  
  .play-btn{
        background-color: var(--white);
        padding: 18px 20px;
        border-radius: 40px;
        box-shadow:gray;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
        opacity: 100%;
  }






.hero-area {
/* padding: 120px 0; */
        position: relative;
}

/* Spicy Bubble */
.spicy-bubble {
        position: absolute;
        top: 100px;
        left: 35%;
        transform: translateX(-120%);
        background:var(--white);
        padding: 10px 18px;
        border-radius: 25px;
        font-weight: 600;
        font-size: 14px;
        color:var(--red);
        box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
        z-index: 5;
}

.spicy-bubble::after {
        content: "";
        position: absolute;
        bottom: -10px;
        right: 4px;
        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 10px solid transparent;
        border-top: 17px solid #ffffff;
}

/* Background Circle */
.bg-circle {
        width: 420px;
        height: 420px;
        background: #39db4a;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 60px;
        transform: translateX(-50%);
        z-index: 1;
}

/* Main Image */

.main-img {
        margin-left: 18px;
        margin-right: 55px;
        margin-top: -20px;
        width: 450px;
        height: 500px;
        z-index: 2;
        position: relative;
}

/* Floating Cards */

.hero-cart img{
        width: 70px;
        height: 70px;
        margin-right: 30px;
        
    
}
.floating-card {
        width: 270px;
        background: #ffffff;
        padding: 15px;
        border-radius: 18px;
        position: absolute;
        bottom: 10px;
        z-index: 3;
        text-align: left;
}


.left-card {
        left: 10%;
}

.right-card {
        right: 1%;
}

/* =======hero-section-end====== */


/* ==========Catagories-start======= */
.Catagories{
        padding-bottom: 208px;

}
.popular{
       text-align: center;
      

}
.popular-p{
       margin-bottom: 29px;
       font-weight: 800;
       font-size: 22px;
       color: var(--red);
       letter-spacing: 3.5px;

}
.popular-h1{
       font-weight: 800;
       font-size: 45px;
    
}

.food-1{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0px 10px 40px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.burgar{
    width: 153px;
    height: 153px;
    background-color:var(--food-bg);
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;

}
.burgar-h2{
    margin: 12px 0 10px;
    font-weight: 600;
    font-size: 30px;
}
.burgar-p{
font-weight: 500;
font-size: 22px;
}

/* ==========Catagories-end========== */
/* ============food-menu-start========== */

.food-menu{
 padding-bottom:80px;
}
.menu-text{
        margin-right: 200px;

}
.menu-p{
       margin-bottom: 29px;
       font-weight: 800;
       font-size: 20px;
       color: var(--red);
       letter-spacing: 3.5px;
}
.menu-h1{
      
       font-weight: 800;
       font-size: 45px;
       line-height: 60px;
}

.test-all {

}
.container{
        /* padding: 0; */
}
.carousel-inner {
    
    padding: 0 30px;
}

.food-menu1 {
    height: 503px;
    max-width: 100%;
    padding: 20px;
 
    margin: 60px 0;
   
    border-radius: 30px;
    box-shadow: 0px 10px 40px 0px #0000001A;

    display: flex;
    flex-direction: column;
}


.salat img {
    margin-top: 37px;
    width: 276px;
    height: 276px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-content h2
 {
    margin: 6px 0 15px;
    text-align: left; 
}
.text-content p{

}
.salat-h2{
        margin: 25px 0 19px;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer img {
    width: 20px;
}

/* ============food-menu-end========== */
/* =============testimonial-staet===== */
.test-photo{

}
/* ========testimonial-staet===== */

.Testimonials{
  padding-bottom:200px;     
}

/* LEFT SHAPE */
.chef-wrapper {
  position: relative;
  background: #4BE34B;
  border-radius: 180px 180px 30px 30px;
  padding: 40px;
  max-width: 380px;
  height: 280px; 
}


.chef-img {
 position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 255px;
}

/* BADGE */
.chef-badge {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

/* AVATARS */
.avatars img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: -12px;
  border: 2px solid #fff;
}

.test-p{
       font-weight:800;
       font-size: 20px;
       color: #FF6868;
       letter-spacing: 3.5px;
}
.test-h2{
        padding-right: 100px;
        margin: 53px 0 29px;
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
}
.testmonial-p{
        padding-right: 80px;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
}

/* ===========story-start======== */


.burgar1 {
    width: 153px;
    height: 153px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgar1-h2{
  font-weight: 800;
  font-size: 24px;
  color: #5FE26C;
}
.burgar1-p{
        padding: 0 20px ;
  font-weight: 600;
  font-size: 16px;
  color: #90BD95;
}
.our-story{
  padding-bottom: 204px;      
}
.story{
         padding-top: 100px;  
}
.story-h3{
        margin: 50px 0 50px;
        font-weight: 800;
        font-size: 45px;

}
.story-p{
     margin-bottom: 50px;   
     font-weight: 500;   
     font-size: 24px;
     line-height: 40px;
}
.story-1 {
  
   
}

/* ================footer=========== */
.footer-1{
        padding-bottom: 115px;
}
.footer-p{
        margin-top: 37px;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        color: #555555;
}
.service{

}
.course-p{
margin-left: 30px;
font-weight: 600;
font-size: 26px;
color:#000000;
}
.service ul{
   margin-top: 37px;     
}
.service ul li{
        margin-top: 31px;
        list-style: none;     
}
.service ul li a{
        text-decoration: none;
        margin-top: 31px;
        font-weight: 500;
        font-size: 24px;
        color:#555555;
        
}
/* ==========footer-end========== */
.footer-end{
        padding-bottom: 60px;
}

.footer-icon ul li a{
        
        background-color:#EDFFEF;
        padding: 15px 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;   

}
.footer-icon ul li a:hover{
        
        background-color:var(--bg_color);
        padding: 15px 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;   

}
.footer-icon ul li a i{
    font-size:23px;
    color: #484848;


}
.footer-icon ul li a i:hover{
    font-size:23px;
    color: #ffffff;


}

.footer-icon ul li{
        list-style: none;

}
.reserved1{
        font-weight: bold;
        font-size: 20px;
        color: #555555;
}
.gap{
        
}